# {{ ansible_managed }}

{% if openjdk_java_home != "" %}
export JAVA_HOME="{{ openjdk_java_home }}"
{% endif %}

{% if openjdk_java_tool_options != "" %}
export JAVA_TOOL_OPTIONS="{{ openjdk_java_tool_options }}"
{% endif %}
