# {{ ansible_managed }}

{% if java_openjdk_home != "" %}
export JAVA_HOME="{{ java_openjdk_home }}"
{% endif %}

{% if java_openjdk_tool_options != "" %}
export JAVA_TOOL_OPTIONS="{{ java_openjdk_tool_options }}"
{% endif %}
